{% extends 'base.html.twig' %}

{% block body %}
    <div class="container">
        <h1>Summary for number: {{ number }}</h1>
        {% for contact in contacts %}
            <div class="panel panel-default">
                <div class="panel-heading">{{ contact.name }}</div>
                <table class="table">
                    <thead>
                    <tr>
                        <th>Type</th>
                        <th>Number</th>
                        <th>In/out</th>
                        <th>Datetime</th>
                        <th>Duration</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for communication in contact.communications %}
                        {% if  communication.communicationType == 'incoming'%}
                            {% set mainNumber = communication.sender %}
                            {% set inOutClass = 'import' %}
                        {% else %}
                            {% set mainNumber = communication.receiver %}
                            {% set inOutClass = 'export' %}
                        {% endif %}
                        {% if  communication.type == 'call' %}
                            {% set typeClass = 'earphone' %}
                        {% elseif  communication.type == 'sms' %}
                            {% set typeClass = 'envelope' %}
                        {% endif %}
                        <tr>
                            <td><span class="glyphicon glyphicon-{{ typeClass }}" aria-hidden="true"></span></td>
                            <td>{{ mainNumber }}</td>
                            <td><span class="glyphicon glyphicon-{{ inOutClass }}" aria-hidden="true"></span></td>
                            <td>{{ communication.dateTime|date('d-m-Y H:i:s') }}</td>
                            <td>{% if communication.duration is not null%} {{ communication.duration|prettyDuration }}{% else %}-{% endif %}</td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        {% endfor %}
    </div>
{% endblock %}
